.allegro-icon {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
    background-image: url(../images/Icon-Allegro.png)
}

.active.allegro-icon, .active .allegro-icon {
    background-image: url(../images/Icon-Allegro-Active.png)
}